javascript:
  $(function(){
    $("[data-toggle=popover]").popover({trigger: "hover",delay: 1500});
  });


= link_to "開始搜尋", search_items_path, class: "btn btn-info"
-if @items.present?
  h2 = "收錄從2014 年 01 月 19 日至 #{@items.first.created_at.strftime('%Y 年 %m 月 %d 日')}遺失物資料計 51839 筆"
  h2 以下列出 #{@items.size} 筆最新的結果
  table.table.table-striped.table-hover
    thead
      tr
        th width="30%" 物品名稱
        th width="40%" 遺失地點
        th width="20%" 遺失時間
        th width="10%" 來源網站
    tbody
      -if @items.present?
        - @items.each do |item|
          - if item.source_url.present?
            = tag("tr", :data => {toggle: "popover",placement: "auto", html: true, content: "#{image_tag(item.image)}<br /><li>備註：</li><ul><li>#{item.remark}</li></ul><li>來源：</li><ul><li>#{item.source}</li></ul><li>來源網址：</li><ul><li><a href='#{item.source_url}' target='_blank'>連結</a></li></ul>"})
          - else
            = tag("tr", :data => {toggle: "popover",placement: "auto", html: true, content: "#{image_tag(item.image)}<br /><li>備註：</li><ul><li>#{item.remark}</li></ul><li>來源：</li><ul><li>#{item.source}</li></ul>"})
          td
            h4 =item.name
          td
            h4 =item.place
          td
            h4 =item.found_time.strftime('%Y 年 %m 月 %d 日')
          td
            h4 = item.source_site
= link_to "開始搜尋", search_items_path, class: "btn btn-info"


