
  <%= search_form_for @q,url: search_items_path, :class => "navbar-form navbar-left", :method => :get do |f| %>
  <span class="glyphicon glyphicon-search"></span>
  <%= f.search_field :name_or_place_cont, class: "form-control" %>

  <% end %>
